@font-face {
    font-family: smack;
    src: url(../font/comic.ttf) format("truetype");
}

@font-face {
    font-family: smack-sub;
    src: url(../font/backissues.otf) format("opentype");
}

#page-title {
    font-family: smack;
    font-size: 2em;
    align-content: center;
}

#nav {
    box-shadow: 0px 0px 4px 4px gray;
}

#map {
    height: 92%;
    width: 100%;
    position: absolute;
}

#list {
    width: 20vw;
    position: absolute;
    right: 3.5vw;
    top: 6vw;
    box-shadow: 4px 4px 4px 4px gray;
    border-radius: 4px;
    background-color: #eee;
}

#selector {
    position: absolute;
    right: 3.5vw;
    bottom: 2vw;
}

/* #listheader:hover {
    cursor: move;
} */

#events-header:hover {
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}

#add_button {
    cursor: pointer;
    text-align: right;
    align-self: center;
}

.list-header {
    display: flex;
    background-color: #ededed;
    font-size: 1.3em;
    font-weight: bold;
    font-family: smack-sub;
    color: gray;
}

.navbar-brand {
    width: 100%;
    text-align: center;
}

.color-primary {
    background-color: #F6343C;
}

.list-group {
    max-height: 70vh;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.btn-smack {
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-smack:hover {
    background-color: #f8f9fa;
    color: black;
}

.btn-submit {
    background-color: #00e676;
    color: white;
    float: right;
}

.btn-submit:hover {
    background-color: #00db71;
    color: white;
}

.modal-smack {
    vertical-align: middle;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;        
}

input {
    width: 95%;
    margin: 5px 5px 5px 5px;
}

.events-list-item {
    margin: 0;
}