@font-face {
    font-family: smack;
    src: url(../font/comic.ttf) format("truetype");
}

@font-face {
    font-family: smack-sub;
    src: url(../font/backissues.otf) format("opentype");
}

#login-page-container {
    transition-duration: 500ms;
}

#page-title {
    color: white;
    font-family: smack;
    font-size: 2em;
}

#nav {
    z-index: 10;
    background-image: linear-gradient(to top right, #f81f26, #ff6e46);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.35); 
}

#map {
    height: 94vh;
    width: inherit;
}

#list {
    width: 20vw;
    right: 4.5vw;
    border-radius: 4px;
    background-color: #eee;
}

#selector {
    position: absolute;
    right: 3.5vw;
    bottom: 2vw;
}

#events-list-collapse {
    width: 20vw; 
    position: absolute;
    top: 60px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25); 
    border-radius: 4px;
    z-index: 10;
}

#add-event-button2 {
    float: right;
    background-color: #f6343c;
    width: 30px; 
    height: 30px; 
    margin: 5px;
    margin-right: 10px;
    border-radius: 50%;
    transition: 300ms;
    z-index: 11;
    cursor: pointer;
}

#add-event-button2:hover {
    background-color: #f65e34;
}

#events-header {
    cursor: pointer;
}

#more-less {
    transition: transform 300ms;
}

.more-less-transition {
    transform: rotate(180deg);
}

#events-header-text:hover {
    text-decoration: underline;
}

.main-title {
    margin: auto;
    padding-top: 2vh;
    text-align: center;
    font-size: 6em;
    color: white;
    font-family: smack;
}

.sign-in-form {
    display: block;
}

.why-join-item {
    background: none;
    color: white;
}

.main-text {
    color: #808080
}

.list-header {
    display: flex;
    background-color: #ededed;
    font-size: 1.3em;
    font-weight: bold;
    font-family: smack-sub;
    color: gray;
}

.list-group-item-action:hover {
    cursor: pointer;
}

.navbar-brand {
    width: 100%;
    text-align: center;
}

.color-primary {
    background-color: #f6343c;
}

.color-background {
    background-color: #eee;
}

.font-title {
    font-family: smack;
}

.font-header {
    font-family: smack-sub;
}

.list-group {
    max-height: 70vh;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.btn-smack {
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-smack:hover {
    background-color: #f8f9fa;
    color: black;
}

.btn-submit {
    background-color: #f6343c;
    color: white;
}

.btn-submit:hover {
    background-color: #f65e34;
    color: white;
}

.btn-submit:disabled {
    background-color: #f6343c;
    color: white;
}

.modal-smack {
    vertical-align: middle;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;        
}

input {
    width: 95%;
    margin: 5px 5px 5px 5px;
}

.time-list-detail {
    color: #aaa;
    position: absolute;
    right: 5px;
    bottom: 0px;
    font-size: .8em;
}

.location-icon-detail {
    position: absolute;
    width: 1em;
    height: 1em;
    right: 5px;
    top: 5px;
    border-radius: 4px;
}

.location-icon-detail:hover {
    background-color: #ccc;
}

.infowindow {
    padding: 10px;
    border-radius: 8px;
}

.infowindow:hover {
    cursor: pointer;
    background-color: #f8f9fa;
}

.form-control, .calendar-btn {
    margin: 0 0 0 0;
}

.profile {
    position: absolute; 
    right: 20px;
    text-align: center;
}

label {
    margin: 10px 0 0 0;
    font-weight: bold;
}